* {
  background-color: #f0f4f4;
}

button {
  background-color: #2d97b7;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
}

.section-container {
  display: flex;
  justify-content: center;
}

.title-list {
  border-top: solid 1px #989393;
  border-bottom: solid 1px #989393;
  padding: 15px;
}

.title-list:first-child {
  border-left: solid 1px #989393;
  border-right: solid 1px #989393;
  border-radius: 5px 0 0 5px;
}

.title-list:last-child {
  border-left: solid 1px #989393;
  border-right: solid 1px #989393;
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}
