* {
  background-color: #f0f4f4;
}

button {
  background-color: #2d97b7;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
}

.section-container {
  display: flex;
  justify-content: center;
}

.wrap-leads {
  display: flex;
  flex-direction: column;
}

.wrap-leads img {
  width: 50%;
  align-self: center;
  padding-bottom: 20px;
}

.wrap-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}